[submodule "backend"]
	path = backend
	url = https://github.com/SPARCS-AI-Startup-Hackathon/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/SPARCS-AI-Startup-Hackathon/frontend.git
